$font-color:white;
.headerdiv{
    position: fixed;
    top:0;
    
    background-color: gray;
    // min-height: 50vh;
    // border: 1px solid gray;
    width: 100%;

// padding:20px 0;
}

h1 {
    

    font-family: "Gill Sans";
    color:$font-color;
  
//    border: 1px solid black;
    
   
// position:absolute;

    
  
    
   
}